@import "../mixins";

.catalog {
  @include flex(row, center, flex-start);

  height: 100vh;
  padding-top: 3.5rem;

  .search-form {
    width: 50%;
  }

  .form-group {
    margin-top: 5rem;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  .form-control {
    display: inline-block;
    width: 85%;
    margin-right: 0.5rem;
  }

  .btn {
    width: calc(15% - 0.5rem);
    vertical-align: unset;
  }

  .toggle-btn {
    padding: 0;
    width: unset;
    margin-left: 0.25rem;
  }
}