.results-page {
  padding-top: 3.5rem;

  .container {
    height: 100%;
  }

  .content {
    width: 100%;
  }

  .card-img {
    width: unset;
  }

  .card {
    flex-direction: row;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}