//body {
//  margin: 0;
//  padding: 0;
//}
@import "~bootstrap/scss/bootstrap";
@import "components";

.container{
  display: flex;
  justify-content: center;
}

.text-muted.error{
  color: darkred !important;
}
