//body {
//  margin: 0;
//  padding: 0;
//}
@import "~bootstrap/scss/bootstrap";
@import "components";
@import "mixins";

.container{
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include flex(column, unset);
}

.text-muted.error{
  color: darkred !important;
  font-size: 1rem;
}

textarea {
  resize: none;
}
